/*
::license::
*/
#include <linux/init.h>
#include <linux/module.h>


MODULE_LICENSE("GPL");
MODULE_AUTHOR("::author:: <::email::>");
MODULE_DESCRIPTION("::desc::");


static int __init module_initial(void)
{
    printk(KERN_ALERT "Hello, world\n");
    return 0;
}

static void module_cleanup(void)
{
    printk(KERN_ALERT "Goodbye, cruel world\n");
}


module_init(module_initial);
module_exit(module_cleanup);
