/*
::license::
*/
#include <linux/init.h>
#include <linux/module.h>
MODULE_LICENSE("Dual BSD/GPL");
static int module_init(void)
{
    printk(KERN_ALERT "Hello, world\n");
    return 0;
}
static void module_exit(void)
{
    printk(KERN_ALERT "Goodbye, cruel world\n");
}
module_init(module_init);
module_exit(module_exit);
